.header {
    position: relative;
    display: grid;
    grid-template-rows: repeat(6, max-content);
    padding: 150px 16px 50px;
}

.header__splash-bg-pink {
    grid-row-start: 1;
    width: 76.38px;
}

.header__title {
    grid-row-start: 2;
    font-size: var(--text-3xl);
    font-family: var(--font-grotesk);
    font-weight: var(--font-extrabold);
}

.header__title span {
    position: relative;
    font-weight: var(--font-bold);
    font-family: var(--font-grotesk);
}

.header__title span::before {
    content: '';
    position: absolute;
    bottom: 20%;
    width: 100%;
    height: 20%;
    z-index: -1;
    border-radius: 4px;
    background-color: var(--yellow);
}

.header__button {
    grid-row-start: 3;
    position: relative;
    width: max-content;
    padding: 16px 29px;
    border-radius: 999px;
    margin: 1rem 0;
    border: 4px solid var(--black);
    background-color: var(--light-blue);
    font-size: var(--text-md);
    font-weight: var(--font-bold);
    transition: 150ms all ease-in-out;
}

.header__button:hover {
    background-color: var(--blue);
}

.header__button .header__button-seed {
    position: absolute;
    bottom: -30px;
    right: -30px;
}

.header__name-wrapper {
    margin: 2rem 0;
    grid-row-start: 4;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
}

.header__name-wrapper .header__name {
    font-size: var(--text-md);
    font-weight: var(--font-bold);
    font-family: var(--font-grotesk);
    transform: rotate(-8deg);
}

.header__name-wrapper .header__smile-icon {
    width: 17.25px;
}

.header__border-outer {
    grid-row-start: 5;
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid var(--black);
    margin: 0 0 2rem;
}

.header__border-outer .header__arrow-icon {
    position: absolute;
    top: -50px;
}

.header__border-outer .header__lamp-icon {
    position: absolute;
    left: 0;
    top: 30px;
}

.header__border-outer .header__splash-orange {
    position: absolute;
    right: -25px;
    bottom: -25px;
}

.header__border-outer .header__border-inner {
    width: 180px;
    height: 180px;
    background-image: url('../../../assets/images/profile.webp');
    background-size: cover;
    background-position: center;
    border: 3px solid var(--black);
}

.header__splash-pink {
    grid-row-start: 6;
    position: absolute;
    bottom: 0;
    left: -35px;
}

@media screen and (min-width:768px) {
    .header {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        padding: 180px 16px 50px;
        align-items: center;
    }

    .header__splash-bg-pink {
        grid-row-start: 1;
        grid-column-start: 1;
    }

    .header__title {
        grid-row-start: 2;
        grid-column-start: 1;
    }

    .header__button {
        grid-row-start: 3;
        grid-column-start: 1;
        align-self: center;
    }

    .header__name-wrapper {
        grid-column-start: 2;
        grid-row-start: 1;
        justify-self: center;
    }

    .header__border-outer {
        grid-column-start: 2;
        grid-row: 2 / 4;
        justify-self: center;
    }
}

@media screen and (min-width:1024px) {

    .header {
        grid-template-rows: max-content 1fr 1fr;
        padding: 100px 16px 50px;
    }

    .header__splash-bg-pink {
        width: 143.48px;
    }

    .header__title {
        font-size: 80px;
    }

    .header__button {
        padding: 30px 55px;
        font-size: var(--text-2xl);
    }

    .header__button .header__button-seed {
        width: 72.55px;
        bottom: -50px;
        right: -50px;
    }

    .header__name-wrapper {}

    .header__name-wrapper .header__name {
        font-size: var(--text-2xl);
    }

    .header__name-wrapper .header__smile-icon {
        width: 31.95px;
    }


    .header__border-outer {
        width: 400px;
        height: 400px;
        align-self: flex-start;
    }

    .header__border-outer .header__lamp-icon {
        width: 92.01px;
    }

    .header__border-outer .header__splash-orange {
        width: 151px;
    }

    .header__border-outer .header__border-inner {
        width: 320px;
        height: 320px;
    }
}